/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eeee;
    font-size: 14px;
}

input.form-control,input.form-control:focus{
    background-color: white;
    border: 1px solid paleturquoise;

}

input.form-control:focus{
    box-shadow: none;
}

button[type=submit].btn{
    background-color: orange;
    display: block;
    width:100%;
    margin: auto;
    color: white;
}

div.form-group label:not(.text-danger){
    color: darkturquoise;
    /* font-weight: 700; */
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: indianred;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
    
  }

  .wrapped-div {
    background:white;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    border: 1px solid paleturquoise;
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: darkturquoise;
    border-bottom: 2px solid orange;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 /* div.form-group label:first-child{
    font-size: 14px; 
    font-weight: 400;
 } */

 